aiohttp[speedups]
orjson
appdirs
django
beautifulsoup4
lxml
requests
numpy
pandas
TA-Lib
croniter
chinese_calendar
asynctest
mysqlclient
tqdm
pytz
tzdata
akshare
einops
huggingface_hub
matplotlib
safetensors
sshtunnel
pybind11
PyYAML